<% if params[:action] == 'search' %>
  <div class="search_result">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
  <div class="well search_result">
    <strong>Symbol:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>last_price:</strong> <%= @stock.last_price %>
    <% if !current_user.stock_already_added?(@stock.ticker) %>
      <%= link_to "Follow stock",  user_stocks_path(user: current_user, stock_ticker: @stock.ticker), method: :post, class: "btn btn-success btn-xs" %>
    <% else %>
      <p class="label label-default">Following</p>
    <% end %>
  </div>
<% end %>
